:root {
    --heght-CP-element: 30px;
  }

.wrapper {
    width: 550px;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    align-items:flex-end
}

input {
    height: var(--heght-CP-element);
    box-sizing: border-box;
    padding: 5px 10px
}

/* .addTime {
    height: var(--heght-CP-element);
} */
.clocks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}