.material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
}



.AcnivityItem__deleteItem {
        border: none;
        background-color: white;
}
     
.highlight_off:hover {
        outline: 1px solid black;
}
     
.highlight_off:active {
        background-color: gray;
}

#clock {
        position: relative;
        width: 120px;
        height: 120px;
        background-size: cover;
        margin: 20px auto 0 auto;
        background-image: url(../../../images/clockface.jpg);
        background-repeat: no-repeat;
        list-style: none;
        padding: 0;
}

#sec, #min, #hour {
        position: absolute;
        width: 7px;
        height: 120px;
        top: 0px;
        left:56px;
        background-size: contain;
        background-repeat: no-repeat;

}

#sec {
        background-image: url(../../../images/sechand.png);
        z-index: 3;
}
         
#min {
        background-image: url(../../../images/minhand.png);
        z-index: 2;
}
         
#hour {
        background-image: url(../../../images/hourhand.png);
        z-index: 1;
}
        